<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Pet Details</title>
  </head>
  <body>
    
    <div class="max-w-2xl mx-auto">
      <h1><a href="{% url 'home_page'%}">home</a></h1>
      {% if p_data %}

        <h1 class="text-3xl font-bold underline">
          Is a {{ p_type }} the right match for you?
        </h1>
        <section>
          <h2 class="text-2xl font-semibold mb-4">Pet Details</h2>
          <p class="text-lg mb-2">
              The traits of a {{p_type}} are: {{p_data.traits}}
          </p>
        </section>
      {% else %}
        <p class="text-lg mb-2">
            Sorry, we don't have any information about this pet type.
        </p>
      {% endif %}
    </div>
  </body>
</html>